.comments-list {
  ul {
    max-height: 500px;
    overflow: auto;
    li {
      list-style-type: none;
      border: 1px solid #c7c7f5;
      margin-bottom: 10px;
      padding: {
        left: 20px;
        right: 20px;
        top: 5px;
        bottom: 5px;
      }
    }
  }
}

form {
  width: 500px;

  mat-form-field {
    width: 100%;
  }

  button {
    margin-top: 10px;
  }
}
